.jumbotron {
  background-color: #fffa19;
  color: black;
  @include margenes(50px, 0px);
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  @include margenes(10px, 0px);
}
.card-hotel {
  flex: 1 200px;
  @include margenes(10px, 0px);
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
